modules = ["python-3.11", "web", "nodejs-20", "nix"]
run = "gunicorn --bind 0.0.0.0:5000 wsgi:application"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 wsgi:application"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 40809712
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m gunicorn --worker-class eventlet -w 1 --threads 100 --bind 0.0.0.0:5000 wsgi:app"
